In [718]:
import pandas as pd

datafile=pd.read_csv('adult.data',header=None)
datafile.columns=['Age', 'workclass', 'fnlwgt', 'AcademicDegree', 'education-num',
    'marital-status', 'occupation', 'relationship', 'race', 'gender',
    'capital-gain', 'capital-loss', 'HoursPerWeek', 'country', 'Salary']

datafile=datafile.applymap(lambda x:x.strip() if isinstance(x,str) else x )
datafile

C:\Users\aliak\AppData\Local\Temp\ipykernel_24392\1254785647.py:8: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  datafile=datafile.applymap(lambda x:x.strip() if isinstance(x,str) else x )

,Age,workclass,fnlwgt,AcademicDegree,education-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,HoursPerWeek,country,Salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

### How many people of each race are represented in this dataset?

In [719]:
datafile['race'].value_counts()

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

### What is the average age of men?

In [720]:
datafile['Age'].mean()

np.float64(38.58164675532078)

### What is the percentage of people who have a Bachelor's degree?

In [721]:

Bachelors_count=datafile[datafile['AcademicDegree']=='Bachelors'].shape[0]
Academics_count=datafile["AcademicDegree"].count()
Bachelors_perc=(Bachelors_count/Academics_count)*100

print(f"{Bachelors_perc}% of the Acedemic Degrees are Bachelors")

16.44605509658794% of the Acedemic Degrees are Bachelors

### What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [722]:
a_educationOver50=datafile[(datafile['AcademicDegree'].isin(["Bachelors", "Masters", "Doctorate"]))&(datafile['Salary']=='>50K')]
a_education=datafile[(datafile['AcademicDegree'].isin(["Bachelors", "Masters", "Doctorate"]))]
a_education_count=a_education.shape[0]
a_educationOver50_count=a_educationOver50.shape[0]
a_educationOver50_Perc=(a_educationOver50_count/a_education_count)*100
print(f'{a_educationOver50_Perc}% of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K')

46.535843011613935% of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K

### What percentage of people without advanced education make more than 50K?

In [723]:
no_educationOver50=datafile[(~datafile['AcademicDegree'].isin(["Bachelors", "Masters", "Doctorate"]))&(datafile['Salary']=='>50K')]
no_education=datafile[(~datafile['AcademicDegree'].isin(["Bachelors", "Masters", "Doctorate"]))]
no_education_count=no_education.shape[0]
no_educationOver50_count=no_educationOver50.shape[0]
no_educationOver50_Perc=(no_educationOver50_count/no_education_count)*100
print(f'{no_educationOver50_Perc}% of people without advanced education make more than 50K')

17.3713601914639% of people without advanced education make more than 50K

### What is the minimum number of hours a person works per week?

In [724]:
minhourperweek=datafile['HoursPerWeek'].min()

### What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [725]:
minwork_highMoney= datafile[(datafile['HoursPerWeek'] == minhourperweek) & (datafile['Salary'] == '>50K')].shape[0]
minwork=datafile[(datafile['HoursPerWeek']==minhourperweek)].shape[0]
minwork_highMoney_perc=(minwork_highMoney/minwork)*100
print(f'{minwork_highMoney_perc}% of the people who work the minimum number of hours per week have a salary of more than 50K')

10.0% of the people who work the minimum number of hours per week have a salary of more than 50K

### What country has the highest percentage of people that earn >50K and what is that percentage?

In [726]:
dvalidcountries=datafile[datafile['country']!='?']
dvc_count=dvalidcountries['country'].value_counts()
highpaids=dvalidcountries[dvalidcountries['Salary']=='>50K']
highpaids_count=highpaids.groupby('country').size().sort_values(ascending=False)
highpaids_percantage=((highpaids_count/dvc_count)*100).sort_values(ascending=False)
top_country = highpaids_percantage.idxmax()
top_country_perc=highpaids_percantage.max()
print(f"The country with the highest percentage of people that earn >50K is {top_country} with {top_country_perc}%")

The country with the highest percentage of people that earn >50K is Iran with 41.86046511627907%

### Identify the most popular occupation for those who earn >50K in India

In [727]:
popular_occupations=datafile[(datafile['country']=='India') & (datafile['Salary']=='>50K')].groupby([ 'occupation']).size().sort_values(ascending=False)
popular_occupation=popular_occupations.idxmax()
print(f'the most popular occupation for those who earn >50K in India is {popular_occupation}')

the most popular occupation for those who earn >50K in India is Prof-specialty